<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册</title>
<link href="/shopGGL/css/style.css" type="text/css" rel="stylesheet" />
<link href="/shopGGL/css/style2.css" type="text/css" rel="stylesheet" />
<link href="/shopGGL/css/demo.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/shopGGL/js/jquery1.42.min.js"></script>
<script type="text/javascript" src="/shopGGL/js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="/shopGGL/js/Validform_v5.3.2_min.js"></script>
<style>
.Validform_checktip{margin:4px 0 12px 92px;}
.formsub label{display:inline-block; width:70px;}
.action{padding-left:92px;}
</style>
</head>
<body class="member">

	<div class="w1185">
    	<div class="logo"><a href="#"></a></div>
        <div class="font-d">欢迎登陆</div>
        <div class="search">
        	<form action="#" class="form">
        		<input type="text" value="输入商品关键字" name="keyword" class="txt" onfocus="if(value=='输入商品关键字') {value=''}" onblur="if(value=='') {value='输入商品关键字'}"/>
                <input type="submit" value="搜索" class="sub"/>
            </form>
        	<p><a href="#">iphone6s</a>|<a href="#">面膜</a>|<a href="#">婚庆床品</a>|<a href="#">运动鞋</a>|<a href="#">眼霜</a>|<a href="#">月饼</a>|<a href="#">智能手机</a>|<a href="#">连衣裙</a></p>
        </div>
        <div class="s_r"><img src="images/tel.jpg"/></div>
        <div class="clear"></div>
    </div>

<div class="reg">
	<div class="w1185">
    	<div class="left">
        	<p><b>免费注册</b></p>
        	 <div class="wraper">
            <form class="registerform" method="post"  action="/shopGGL/addUsers.sw">
            <div class="formsub">
            	<ul>
                	<li>
                    	<label><font>*</font> 账号：</label>
                    	<input type="text" value="" name="name" class="inputxt" datatype="s5-18" nullmsg="请输入账号" ajaxurl="/shopGGL/boolname.sw"  errormsg="昵称至少5个字符,最多18个字符！" />
                        <div class="Validform_checktip">昵称为5~18个字符</div>
                    </li>
                    <li>
                    	<label><font>*</font>密码：</label>
                    	<input type="password" value="" name="userpassword" class="inputxt" datatype="*6-16" nullmsg="请设置密码！" errormsg="密码范围在6~16位之间！" />
                        <div class="Validform_checktip">密码范围在6~16位之间</div>
                    </li>
                    <li>
                    	<label><font>*</font>确认密码：</label>
                    	<input type="password" value="" name="userpassword2" class="inputxt" datatype="*" recheck="userpassword" nullmsg="请再输入一次密码！" errormsg="您两次输入的账号密码不一致！" />
                        <div class="Validform_checktip">两次输入密码需一致</div>
                    </li>
       				<li>
       				<label><font>*</font>手机号：</label>
       				<input type="text" name="mobile" id="moblie" class="inputxt" datatype="m" nullmsg="请填写手机" errormsg="请填写正确的手机号码！" />  
                    <div class="Validform_checktip">请输入11为手机号码</div> 
       				</li>
                </ul>
				 <div class="action">
                	<input type="submit" value="提 交" /> <input type="reset" value="重 置" />
                </div>

            </div>
        </form>
</div>
        </div>
        <div class="right">我经注册，马上<a href="/shopGGL/view/login3.jsp">登录</a></div>
        <div class="clear"></div>
    </div>
</div>

<div class="bottom">
	<a href="#">关于我们</a>|<a href="#">帮助中心</a>|<a href="#">法律声明</a>|<a href="#">用户协议</a>|<a href="#">联系我们</a>|<a href="#">人才招聘</a>|<a href="#">站点地图</a>
   
    <p>网络文化经营许可证：粤网文[2015]0295-065号<br />© 2015 深圳易易城科技网络有限公司. 粤ICP备15042543号</p>
</div>
<script>
$(function(){
	//$(".registerform").Validform();  //就这一行代码！;
		
	$(".registerform").Validform({
		tiptype:function(msg,o,cssctl){
			//msg：提示信息;
			//o:{obj:*,type:*,curform:*}, obj指向的是当前验证的表单元素（或表单对象），type指示提示的状态，值为1、2、3、4， 1：正在检测/提交数据，2：通过验证，3：验证失败，4：提示ignore状态, curform为当前form对象;
			//cssctl:内置的提示信息样式控制函数，该函数需传入两个参数：显示提示信息的对象 和 当前提示的状态（既形参o中的type）;
			if(!o.obj.is("form")){//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
				var objtip=o.obj.siblings(".Validform_checktip");
				cssctl(objtip,o.type);
				objtip.text(msg);
			}
		}
	});
})

</script>
</body>
</html>
